<div class="toolbar">
  <% if System::get_property('platform') == 'Blackberry' %>
    <div class="leftItem regularButton">
      <%= link_to "Home", RhoConfig::start_path %>
    </div>
  <% end %>
  
  <h1 id="pageTitle">Schedule</h1>
</div>

<div class="content">
  <ul>    
    
        <li>
          <a href="<%= url_for :action => :submenu, :id => "General" %>">
            <span class="title">General</span><span class="disclosure_indicator"></span>
          </a>
        </li>
        <li>
          <a href="<%= url_for :action => :submenu, :id => "Cases" %>">
            <span class="title">Case Competition</span><span class="disclosure_indicator"></span>
          </a>
        </li>
        <li>
          <a href="<%= url_for :action => :submenu, :id => "Debate" %>">
            <span class="title">Debate</span><span class="disclosure_indicator"></span>
          </a>
        </li>
        <li>
          <a href="<%= url_for :action => :submenu, :id => "Sport" %>">
            <span class="title">Sport</span><span class="disclosure_indicator"></span>
          </a>
        </li>
    
  </ul>
</div>