<div id="pageTitle">
	<h1><%= @sponsor.name%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @sponsor.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">Name</td>
        <td class="itemValue"><%= @sponsor.name%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Type</td>
        <td class="itemValue"><%= @sponsor.type%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Description</td>
        <td class="itemValue"><%= @sponsor.description%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Picture</td>
        <td class="itemValue"><%= @sponsor.picture%></td>
      </tr>
      
    </table>
</div>