<div class="pageTitle">
  <h1><%= @sponsor.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Name</div>
          <div class="itemValue"><%= @sponsor.name %></div>
        </li>
    
        <li>
          <div class="itemLabel">Type</div>
          <div class="itemValue"><%= @sponsor.type %></div>
        </li>
    
        <li>
          <div class="itemLabel">Description</div>
          <div class="itemValue"><%= @sponsor.description %></div>
        </li>
    
        <li>
          <div class="itemLabel">Picture</div>
          <div class="itemValue"><%= @sponsor.picture %></div>
        </li>
    
  </ul>
</div>